.event-item {
    display: inline-block;
    position: relative;
    color: #fff;
}

.event-item::after,
.event-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.event-item::before {
    z-index: 1;
    background: url('https://simonkneebone.files.wordpress.com/2013/04/community-group-event-pic.jpg') no-repeat;
    background-size: cover;
    background-position: 50%;
}
.event-item::after {
    z-index: 2;
    background: linear-gradient(#000, rgba(0, 0, 0, 0.25));
}
.event-item .event-item-content {
    position: relative;
    padding: 10px;
    z-index: 3;
}