.event-item {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    background: url('/event.jpg') no-repeat;
    background-size: cover;
    background-position: 50%;
    color: #fff;
}

.event-item::after,
.event-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.event-item::before {
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.05), #444);
}
.event-item::after {
    z-index: 2;
    background: linear-gradient(#444, rgba(0, 0, 0, 0.05));
}

.event-item-content {
    position: relative;
    display: block;
    z-index: 3;
    width: 100%;
    padding: 10px;
}

.bar-progress {
    position: relative;
    float: right;
    display: block;
    width: 40px;
    height: 130px;
    background: transparent;
    border: 1px solid #ccc;
}
.bar-progress div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1%;
    background-color: #5cb85c;
    border-color: #4cae4c;
}