.venue-item {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    background: url('/venue.jpg') no-repeat;
    background-size: cover;
    background-position: 50%;
}

.venue-item::after,
.venue-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.venue-item::before {
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.05), #444);
}
.venue-item::after {
    z-index: 2;
    background: linear-gradient(#444, rgba(0, 0, 0, 0.05));
}

.venue-item-content {
    position: relative;
    display: block;
    z-index: 3;
    width: 100%;
    padding: 10px;
    color: #fff;
}