.chat-rooms {
    position: absolute;
    background: #ccc;
    padding: 5px 5px 5px;
    top: 51px;
    right: 0;
    box-shadow: 0 3px 7px -3px #444;
    border-radius: 0 0 0 3px;
}

.rooms-title {
    margin-right: 50px;
}