body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.button {
  background: #2af;
  padding: 6px 8px;
  box-shadow: 0px 3px 3px #ccc;
  border: none;
  font-size: 16px;
  color: #fff;
}
